<section>
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <h2 class="text-center">Edit products</h2>
                <form action="/admin/edit-products/{{product._id}}" method="post" enctype="multipart/form-data">
                    <label for="">Name</label>
                    <input type="text" class="form-control" name="name" value="{{product.name}}">

                    <label for="">Category</label>
                    <input type="text" class="form-control" name="category"  value="{{product.category}}">

                    <label for="">Price</label>
                    <input type="text" class="form-control" name="Price"  value="{{product.Price}}">

                    <label for="">Description</label>
                    <input type="text" class="form-control" name="description"  value="{{product.description}}">

                    <label for="">Image</label>
                    <img  style="width:50px; height:50px"src="/product-images/{{product._id}}.jpg" alt="" id="imgView">
                    <input type="file" class="form-control" name="image" onchange="viewImage(event)">




                    <button type="submit" class="btn btn-success mt-4">submit</button>
                </form>
            </div>
        </div>
    </div>
</section>
<script>
    function viewImage(event){
        document.getElementById('imgView').src=URL.createObjectURL(event.target.files[0])
    }
</script>